.spacer {
    width: 50%;
}

.entryForm__text {
    overflow: auto;
    resize: both;
}

.fieldContainer {
    display: flex;
    flex-flow: column;
}

.note {
    display: flex;
    flex-flow: column;
    padding: 1.5rem;
}