@import './note.css';
@import './form.css';

.spacer {
    width: 50%;
}

.centered {
    text-align: center;
}

.flexContainer {
    display: flex;
    flex-flow: column;
}

.pageHeader {
    padding-top: 1.5rem;
    text-align: center;
}

.pageFooter {
    padding-bottom: 1rem;
    text-align: center;
}

.bottomSpace {
    margin-bottom: 1rem;
}

.moreBottomSpace {
    margin-bottom: 2.5rem;
}

@media (max-width: 962px) {
	.noteList {
		flex-direction: column;
	}
	.note {
		margin-left: 2%;
		margin-right: 2%;
		max-width: 95%
	}
	.entry {
		max-width: 82%;
		margin-left: 3%;
		margin-right: 3%;
	}
}
