/*QUESTION: is there a better way to recognize a mobile device? */
@media (max-width: 962px) {
	.noteList {
		flex-direction: column;
	}
	.note {
		margin-left: 2%;
		margin-right: 2%;
		max-width: 95%
	}
	.entry {
		max-width: 82%;
		margin-left: 3%;
		margin-right: 3%;
	}
}
